{% extends 'base1.html.twig' %}

{% block title %}Edit Suscripcion{% endblock %}

{% block body %}
    <h1>Suscripcion Eliminada</h1>
    {{mensaje}}

    <a href="{{ path('suscripcion_index') }}">Volver</a>

    
{% endblock %}
