{% extends 'base1.html.twig' %}

{% block title %}New Suscripcion{% endblock %}
{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('crudCss') }}
{% endblock  %}
{% block body %}
<h1 class="font-weight-bold text-center">Crear nueva suscripcion</h1>
<div class="container">
    <div class="mt-3 p-3 border border-secondary rounded bg-light shadow mb-5 bg-white ">

    {{ include('suscripcion/_form.html.twig') }}
    <br>
    <a href="{{ path('suscripcion_index') }}">
        <button type="button" class="btn btn-info"> Back to list <i class="fas fa-arrow-left"></i> </button>  
    </a>
</div></div>
{% endblock %}
