{% extends 'base1.html.twig' %}

{% block title %}Edit Edicion{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crudCss') }}
{% endblock  %}

{% block body %}

<h1  class="font-weight-bold text-center">Editar edicion</h1>
    <div class="container">
        <div class="mt-3 p-3 border border-secondary rounded bg-light">
            {{ include('edicion/_form.html.twig', {'button_label': 'Update'}) }}
            <br>
            <a href="{{ path('edicion_index') }}">
                <button type="button" class="btn btn-info"> Back to list <i class="fas fa-arrow-left"></i> </button>  
            </a><br><br>
            {{ include('edicion/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}


